/********************
YOUR STYLES
*******************/

h1 {
    text-transform: uppercase;
    color: blue;
}
.char1, .char8 {
    display:inline-block;
    background:red;
    padding:.4em;
    transform: rotate(30deg);
}




/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}